In [7]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

df = pd.read_csv('/data/Housing.csv')

In [8]:
def hypothesis(X, w):
  return np.dot(X, w)

In [9]:

def loss_function(X, y, w):
  return np.square(y - hypothesis(X, w)) / (2*len(X))

In [10]:
def gradient_step(X, y, w, learning_rate):
  n = len(y)
  gradient = (X.T @ (hypothesis(X, w) - y)) / n
  w -= learning_rate * gradient
  return w

In [11]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [12]:
X = df[['area', 'bedrooms', 'bathrooms']]

y = df['price']

w = np.zeros(3)

w = gradient_step(X, y, w, 0.001)

w

area         2.672292e+07
bedrooms     1.463903e+04
bathrooms    6.616668e+03
dtype: float64

In [13]:
X = df[['area', 'bedrooms', 'bathrooms']]
y = df['price']

X_b = np.c_[np.ones((X.shape[0])), X]

w = np.linalg.inv(X_b.T.dot(X_b)).dot(X_b.T).dot(y)

w

array([-1.73171608e+05,  3.78762754e+02,  4.06820034e+05,  1.38604950e+06])

In [14]:
model = LinearRegression()

model.fit(X, y)

model.coef_

array([3.78762754e+02, 4.06820034e+05, 1.38604950e+06])